<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div>
 
  <%tasks.forEach(function(user){%>

    <div id="detail">
      <a href="/edit/<%=user._id%>">Edit Resume</a>
    </div>
  <main>
    <div id="image">
      <section>
        <h1><%=user.name%></h1>
        <hr style="color: black;">
        <hr style="color: black;">
        <p><%=user.address%> | <%=user.phone%> | <%=user.email%> | <%=user.linkedin%></p>
    </section>
    <%if(user.profile !== ""){%>
      <img src="<%=user.profile%>" alt="">
      <%}%>
  
    </div>
   

  <%if(user.objective !== ""){%>
    <section>
      <h2>objective</h2>
      <hr style="color: black;">
      <hr style="color: black;">
      <p style="text-align: left;"><%=user.objective%></p>
  </section>
<%}%>



  <section>
    <h2>skills & abilities</h2>
    <hr style="color: black;">
    <hr style="color: black;">
    <%if(user.computer !== ""){%>
      <h4 style="font-size: medium; padding: 1vmax 8vmax;">Computer skills -</h4>
      <article><%=user.computer%></article>
    <%}%>

    <%if(user.personal !== ""){%>
      <h4 style="font-size: medium; padding: 1vmax 8vmax;">Personal skills -</h4>
      <article><%=user.personal%></article>
    <%}%>
</section>


<%if(user.work !== ""){%>
  <section>
    <h2>Work Experience</h2>
    <hr style="color: black;">
    <hr style="color: black;">
    <p style="text-align: left;"><%=user.work%></p>
  </section>
  <%}%>
  

    <section>
        <h2>education</h2>
        <hr style="color: black;">
        <hr style="color: black;">
        <table>
            <tr>
              <th  style="width: 40%;">degree</th>
              <th  style="width: 40%;">College/school</th>
              <th  style="width: 20%;">passing year</th>
            </tr>

            <%if(user.degree !== ""){%>
              <tr>
                <td><%=user.degree%></td>
                <td><%=user.college%></td>
                <td><%=user.year%></td>
              </tr>
              <%}%>
         

              <%if(user.board12 !== ""){%>
                <tr>
                  <td><%=user.board12%></td>
                  <td><%=user.school12%></td>
                  <td><%=user.year12%></td>
                </tr>
                <%}%>
          


            <%if(user.board10 !== ""){%>
              <tr >
                <td><%=user.board10%></td>
                <td><%=user.school10%></td>
                <td><%=user.year10%></td>
              </tr>
              <%}%>
          </table>
    </section>

    <section>
      <h2>Personal details</h2>
      <hr style="color: black;">
        <hr style="color: black;">
        <table>
            <tr>
              <th  style="width: 40%; border-color: white;"></th>
              <th  style="width: 20%; border-color: white;"></th>
              <th  style="width: 40%; border-color: white;"></th>
            </tr>

            <%if(user.dob !== ""){%>
              <tr>
                <td style="border-color: white;" >Date of Birth</td>
                <td style="border-color: white;">:</td>
                <td style="border-color: white;"><%=user.dob%></td>
              </tr>
              <%}%>
           

            
            <%if(user.lang !== ""){%>
              <tr >
                <td style="border-color: white;">Languages</td>
                <td style="border-color: white;">:</td>
                <td style="border-color: white;"><%=user.lang%></td>
              </tr>
              <%}%>
            

            
            <%if(user.hobby !== ""){%>
              <tr >
                <td style="border-color: white;">Hobbies</td>
                <td style="border-color: white;">:</td>
                <td style="border-color: white;"><%=user.hobby%></td>
              </tr>
              <%}%>
            

            
            <%if(user.telephone !== ""){%>
              <tr >
                <td style="border-color: white;">Telephone No.</td>
                <td style="border-color: white;">:</td>
                <td style="border-color: white;"><%=user.telephone%></td>
              </tr>
              <%}%>
           
          </table>
    </section>

    <%if(user.declare !== ""){%>
      <section>
        <h2>declaration</h2>
        <hr style="color: black;">
        <hr style="color: black;">
        <p><%=user.declare%></p>
    </section>
      <%}%>

    <section style="margin-top: 8vmax;">
        <h5><%=user.name%></h5>
        <hr style="color: black;">
        <hr style="color: black;">
    </section>
</main>
  <%})%>

</div>
</body>
</html>